@font-face {
  font-family: marvel-font;
  src: url("../fonts/marvel-font.otf");
}
/* Display Information cards as hide, until removed */
.hide {
  display: hide;
}

h4,
h5 {
  font-family: "marvel-font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h3 {
  font-family: "marvel-font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px white;
}

button {
  font-family: "marvel-font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: larger !important;
  text-shadow: 1px 1px 2px black;
}

.red {
  background-color: #ed1d24 !important;
}

.black {
  background-color: #222121 !important;
}

.red-text {
  color: #ed1d24 !important;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f6f6f6 3px solid !important;
  border-radius: 30px !important;
  text-shadow: 1px 1px white;
}

.biography-card {
  width: 300%;
  padding-right: 50%;
  margin-left: 20px;
}

#stats-card {
  width: 100%;
  padding-left: 25%;
  margin-left: 20px;
  content: align;
}

.center-block {
  display: inline-block;
}

.card-title {
  font-family: "marvel-font";
  letter-spacing: 1px;
  color: #ed1d24;
  text-shadow: 1px 1px black;
}

.brand-logo {
  font-family: "marvel-font";
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px white;
}
