/*Setting CSS Variables to make it easier to adjust shades*/
:root {
  --red: #ed1d24;
  --dark: #000000;
  --light: #ffffff;
}

/*FONT IMPORT*/
@font-face {
  font-family: marvel-font;
  src: url("../fonts/marvel-font.otf");
}

h4,
h5 {
  font-family: "marvel-font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h3 {
  font-family: "marvel-font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px var(--light);
}

button {
  text-transform: uppercase;
  font-size: larger !important;
  text-shadow: 1px 1px 2px var(--dark);
}

/* Display Information cards as hide, until removed */
.hide {
  display: hide;
}

.red {
  background-color: var(--red) !important;
}

.red-text {
  color: var(--red) !important;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: var(--light) 3px solid !important;
  border-radius: 30px !important;
  text-shadow: 1px 1px var(--light);
}

.biography-card {
  width: 300%;
  padding-right: 50%;
  margin-left: 20px;
}

.center-block {
  display: inline-block;
}

.card-title {
  font-family: "marvel-font";
  letter-spacing: 1px;
  color: var(--red);
  text-shadow: 1px 1px var(--dark);
}

.brand-logo {
  font-family: "marvel-font";
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px var(--light);
}

.link-color {
  color: var(--red) !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: var(--red) !important;
}

.popular-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: larger;
}

card-text {
  font-size: 8px;
}

#stats-card {
  width: 100%;
  padding-left: 25%;
  margin-left: 20px;
}
